.owl-carousel .owl-item {
  opacity: 0.5;
  transform: scale(0.8);
  transition: all 0.3s ease;
}

.owl-carousel .owl-item p,
.owl-carousel .owl-item h1,
.owl-carousel .owl-item .primary-button,
.owl-carousel .owl-item .progress {
  opacity: 0;
}

.owl-carousel .owl-item.active.center p,
.owl-carousel .owl-item.active.center h1,
.owl-carousel .owl-item.active.center .primary-button,
.owl-carousel .owl-item.active.center .progress {
  opacity: 1;
}

.owl-carousel .owl-item.active.center {
  opacity: 1;
  transform: scale(1);
  border-radius: 20px;
}

.owl-carousel .owl-item.center {
  z-index: 2;
  transform: scale(1.2);
  position: relative;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #000;
  border: none;
  background: transparent;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  background: transparent;
  color: #fff;
  cursor: pointer;
}

.owl-carousel .owl-nav button.owl-prev {
  left: 20px;
}

.owl-carousel .owl-nav button.owl-next {
  right: 20px;
}
