* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

#header {
  z-index: 20;
  position: fixed;
  width: 100%;
  padding: 2px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.logo {
  z-index: 34 !important;
  position: absolute;
  height: 70px;
  top: 0;
  border-radius: 0 0 10px 10px;
  margin-left: 20px;
}

.semi-logo {
  z-index: 34;
  width: 70px;
  height: 50px;
}

.social {
  margin-right: 15px;
}

.nav-header ul {
  display: flex;
}

.nav-header ul li {
  padding: 0 15px;
  font-weight: 500;
  color: black;
  font-size: 25px;
}

.nav-header ul li a {
  color: black;
}

@media screen and (max-width: 1200px) {
  .nav-header ul li {
    font-size: 20px;
    padding: 0 5px;
  }
}

@media screen and (max-width: 800px) {
  .nav-header {
    display: none;
  }

  .social {
    display: none;
  }

  .mobile-button {
    display: block;
    margin-right: 5px;
  }

  .logo {
    height: 65px;

  }

  .semi-logo {
    width: 50px;
    height: 52px;
  }
}
