.default {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.hero-background {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/img/bg/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #cccccc;
  flex-direction: column;
}

.hero-color {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#753239, transparent);
  color: white;
  text-align: center;
  flex-direction: column;
}

.primary-text {
  font-size: 64px;
  font-weight: 700;
}

.hero-color .primary-text {
  font-weight: 100;
  padding-bottom: 8px;
}

.hero-color .primary-text span {
  font-weight: 700;
}

.second-text {
  font-size: 40px;
  font-weight: 100;
}

.rounded-law {
  position: absolute;
  bottom: 0;
  background-color: white;
  height: 80px;
  width: 100%;
  border-radius: 100px 100px 0 0;
}

.law-sec {
  background-color: white;
  text-align: center;
  flex-direction: column;
}

.law-padding {
  padding-top: 8px;
}

.law-text {
  width: 1200px;
  text-align: justify;
  line-height: 60px;
  margin: 40px 0;
}

.primary-button {
  padding: 20px 60px;
  border-radius: 100px;
  font-size: 40px;
  font-weight: 100;
  background-image: linear-gradient(to right, #f67280, #c0525e);
}

.primary-button a {
  color: white;
}

.about {
  background-image: linear-gradient(to bottom, #f67280, #bb3e4b);
  color: white;
}

.text-about {
  text-align: center;
  padding: 0px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-about p {
  text-align: justify;
  width: 700px;
  line-height: 60px;
  padding: 40px 0;
  font-size: 50px;
}

.text-about .primary-button {
  background: #343434;
  display: flex;
  justify-content: center;
}

.text-about .primary-button img {
  width: 114px;
  position: absolute;
  padding-top: 40px;
}

.about-img {
  width: 500px;
}

.aboutList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(
    to bottom,
    #bb3e4b 50%,
    #f67280 50%,
    white 50%
  );
}

.aboutRec {
  width: 316px;
  height: 316px;
  background-image: linear-gradient(to bottom, #ffffff, #d9d9d9);
  border: 5px solid #b93c49;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
}

.aboutRec img {
  width: 76px;
}

.aboutRec p {
  font-size: 30px;
  padding-top: 4px;
}

.carousel {
  display: none;
}

.work {
  background-color: #fff;
  flex-direction: column;
}

.work p {
  width: 1200px;
  line-height: 60px;
  padding: 20px 0;
}

.work .primary-button {
  color: white;
  margin: 10px 0;
}

.faq-section {
  text-align: center;
  background-image: linear-gradient(to left top, #753239, #f67280);
  color: white;
  display: flex;
  flex-direction: column;
}

.faq-section p {
  background: #393939;
}

.question {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px white solid;
}

.question img {
  height: 30px;
}

.answer {
  font-weight: 100%;
  font-size: 30px;
  text-align: start;
  padding-left: 5px;
  padding-top: 10px;
  width: 100%;
  display: none;
}

.show {
  display: block;
}

.box-faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 80px 0;
}

.faq {
  margin-bottom: 25px;
  width: 1060px;
}

.recomends {
  background-image: linear-gradient(to top, #ececec, #fff);
  color: black;
  text-align: center;
  flex-direction: column;
}

.recomends-card {
  display: flex;
  padding-top: 80px;
}

.recomends-card .center-card-recomends {
  padding: 0 100px;
}

.recomens .center .recomends div img,
.recomends div p {
  width: 312px;
}

.recomends div p {
  padding-top: 40px;
  font-size: 32px;
}

.contact {
  background-image: linear-gradient(to bottom, #f67280, #c0525e);
  color: white;
}

.min-contact {
  width: 100%;
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-contact {
  width: 40%;
}

.text-contact,
.form-contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.text-contact p {
  padding: 25px 10px;
  max-width: 500px;
}

.contact-weight {
  font-weight: 900;
}

.contact-input,
.contact-selected {
  width: 600px;
  border-radius: 20px;
  padding: 20px;
  border: none;
  font-size: 20px;
  margin-bottom: 20px;
}

.contact-selected {
  width: 640px;
}

.form-contact .primary-button {
  background: #343434;
  color: white;
}

.email-phone {
  width: 640px;
  display: flex;
  justify-content: space-between;
}

.email-phone input {
  width: 42%;
}

.footer {
  width: 100%;
  background: white;
  padding: 50px 0;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: start;
}

.footer-logo div {
  position: absolute;
  height: 50px;
  background: #e2e2e2;
  width: 100%;
}

.footer-logo img {
  z-index: 1;
  height: 120px;
  width: 120px;
  margin-left: 40px;
  border-radius: 100px;
}

.footer-texts {
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  padding: 40px 0;
}

.title-footer {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 20px;
}

.param-footer {
  font-size: 20px;
  color: black;
}

.sections-footer {
  padding: 0 40px;
}

.social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.social-footer img {
  padding-right: 10px;
  width: 40px;
}

.social-box {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.copy-text {
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.whats-placer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whats-button {
  box-shadow: 0px 1px 10px 1px black;
  padding: 5px 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #f67280, #c0525e);
  margin-bottom: 40px;
}

.whats-button img {
  width: 70px;
  height: 70px;
  padding-right: 10px;
}

.whats-button p {
  color: white;
  font-size: 28px;
}

@media screen and (max-width: 1500px) {
  .default {
    padding: 50px 0;
  }

  .primary-text {
    font-size: 55px;
  }

  .second-text {
    font-size: 35px;
  }

  .law-text {
    width: 1100px;
    line-height: 50px;
    margin: 30px 0;
  }

  .primary-button {
    padding: 16px 50px;
    font-size: 35px;
  }

  .rounded-law {
    height: 70px;
  }

  .text-about {
    padding: 0px 60px;
  }

  .text-about p {
    width: 550px;
    padding: 25px 0;
    line-height: 60px;
    font-size: 45px;
  }

  .about-img {
    width: 400px;
  }

  .aboutRec {
    width: 250px;
    height: 250px;
  }

  .aboutRec img {
    width: 60px;
  }

  .aboutRec p {
    font-size: 25px;
    padding-top: 4px;
  }

  .box-faq {
    margin: 70px 0;
  }

  .faq {
    width: 1060px;
  }

  .recomends-card {
    padding-top: 70px;
  }

  .recomends-card .center-card-recomends {
    padding: 0 70px;
  }

  .recomens .center .recomends div img,
  .recomends div p {
    width: 280px;
  }

  .recomends div p {
    padding-top: 30px;
    font-size: 28px;
  }
}

@media screen and (max-width: 1200px) {
  .primary-text {
    font-size: 45px;
  }

  .second-text {
    font-size: 30px;
  }

  .law-text {
    margin: 20px 0;
    width: 80%;
    line-height: 45px;
  }
  .default {
    padding: 40px 0;
  }

  .primary-button {
    padding: 16px 50px;
    font-size: 30px;
  }
  .rounded-law {
    height: 50px;
  }

  .about {
    flex-direction: column;
  }

  .about-img {
    width: 400px;
    padding-top: 20px;
  }

  .text-about {
    padding: 0;
  }

  .text-about p {
    width: 80%;
    line-height: 50px;
    padding: 20px 0;
    font-size: 40px;
  }

  .aboutRec {
    width: 180px;
    height: 180px;
  }

  .aboutRec img {
    width: 50px;
  }

  .aboutRec p {
    font-size: 20px;
    padding-top: 4px;
  }

  .box-faq {
    margin: 60px 0;
  }

  .faq {
    margin-bottom: 20px;
    width: 790px;
  }

  .recomends-card {
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .recomends-card .center-card-recomends {
    padding: 60px;
  }

  .recomens .center .recomends div img,
  .recomends div p {
    width: 200px;
    height: 200px;
  }

  .recomends div p {
    padding-top: 20px;
    font-size: 24px;
  }
}

@media screen and (max-width: 800px) {
  .primary-text {
    font-size: 35px;
  }

  .second-text {
    font-size: 25px;
  }

  .law-text {
    width: 90%;
    line-height: 35px;
  }
  .default {
    padding: 20px 0;
  }

  .primary-button {
    padding: 12px 40px;
    font-size: 25px;
  }

  .rounded-law {
    height: 40px;
  }

  .text-about p {
    width: 90%;
    line-height: 45px;
    padding: 14px 0;
    font-size: 30px;
  }
  .about-img {
    width: 250px;
    padding-top: 14px;
  }

  .carousel {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-image: linear-gradient(
      to bottom,
      #bb3e4b 50%,
      #f67280 50%,
      white 50%
    );
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel-item {
    position: absolute;
    width: 400px;
    height: 100px;
    opacity: 0;
    transition: opacity 1s ease;
  }

  .carousel-item.active {
    opacity: 1;
  }

  .carousel-item .aboutRec {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .aboutList {
    display: none;
  }

  .box-faq {
    margin: 50px 0;
  }

  .faq {
    margin-bottom: 20px;
    width: 580px;
  }
}

@media screen and (max-width: 600px) {
  .primary-text {
    font-size: 25px;
  }

  .second-text {
    font-size: 20px;
  }

  .law-text {
    width: 90%;
    line-height: 30px;
  }
  .default {
    padding: 10px 0;
  }
  .primary-button {
    padding: 10px 20px;
    font-size: 20px;
  }

  .rounded-law {
    height: 30px;
  }

  .text-about p {
    line-height: 35px;
    padding: 12px 0;
    font-size: 20px;
  }

  .about-img {
    width: 250px;
    padding-top: 12px;
  }

  .carousel {
    height: 200px;
  }

  .carousel-item {
    width: 250px;
    height: 150px;
  }

  .box-faq {
    margin: 40px 0;
  }

  .faq {
    margin-bottom: 10px;
    width: 90%;
  }
}
