.default {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

html {
  scroll-behavior: smooth;
}

a {
  color: black;
}

.hero-background {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/img/bg/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #cccccc;
  flex-direction: column;
}

.hero-color {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#753239, transparent);
  color: white;
  text-align: center;
  flex-direction: column;
}

.primary-text {
  font-size: 64px;
  font-weight: 700;
}

.hero-color .primary-text {
  font-weight: 100;
  padding-bottom: 8px;
}

.hero-color .primary-text span {
  font-weight: 700;
}

.second-text {
  font-size: 40px;
  font-weight: 100;
}

.rounded-law {
  position: absolute;
  bottom: 0;
  background-color: white;
  height: 80px;
  width: 100%;
  border-radius: 100px 100px 0 0;
}

.law-sec {
  background-color: white;
  text-align: center;
  flex-direction: column;
}

.law-padding {
  padding-top: 8px;
}

.law-text {
  width: 1200px;
  text-align: justify;
  line-height: 60px;
  margin: 40px 0;
}

.primary-button {
  transition: all 200ms ease-in-out;
  padding: 20px 60px;
  border-radius: 100px;
  font-size: 40px;
  font-weight: 100;
  background-image: linear-gradient(to right, #f67280, #c0525e);
}

.primary-button a {
  color: white;
}

.max-about-sec {
  background-image: linear-gradient(to bottom, #f67280, #bb3e4b);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  background-image: linear-gradient(to bottom, #f67280, #bb3e4b);
  color: white;
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
}

.text-about {
  text-align: center;
  padding: 0px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-about p {
  text-align: justify;
  width: 700px;
  line-height: 60px;
  padding: 40px 0;
  font-size: 50px;
}

.text-about .primary-button {
  background: #343434;
  display: flex;
  justify-content: center;
}

.text-about .primary-button img {
  width: 114px;
  position: absolute;
  padding-top: 40px;
}

.about-img {
  width: 500px;
  padding-right: 80px;
}

.max-about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to bottom,
    #bb3e4b 50%,
    #f67280 50%,
    white 50%
  );
}

.mobile-about {
  display: none;
}

.aboutList {
  width: 100%;
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(
    to bottom,
    #bb3e4b 50%,
    #f67280 50%,
    white 50%
  );
}

.aboutRec {
  width: 316px;
  height: 316px;
  background-image: linear-gradient(to bottom, #ffffff, #d9d9d9);
  border: 5px solid #b93c49;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
}

.aboutRec img {
  width: 76px;
}

.aboutRec p {
  font-size: 30px;
  padding-top: 4px;
}

.work {
  background-color: #fff;
  flex-direction: column;
}

.work p {
  width: 1200px;
  line-height: 60px;
  padding: 20px 0;
}

.work .primary-button {
  color: white;
  margin: 10px 0;
}

.hidden-input {
  display: none;
}

.faq-section {
  text-align: center;
  background-image: linear-gradient(to left top, #753239, #f67280);
  color: white;
  display: flex;
  flex-direction: column;
}

.faq-section a p {
  background: #393939;
  color: #fff;
}

.question {
  
  transition: all 200ms ease-in-out;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px white solid;
}

.question img {
  height: 20px;
}

.answer {
  text-align: start;
  padding-top: 10px;
  width: 100%;
  display: none;
}

.answer .second-text
{
  transform: scale(0.95);
}

.show {
  display: block;
}

.box-faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 80px 0;
}

.faq {
  margin-bottom: 25px;
  width: 1060px;
}

.recomends {
  background-image: linear-gradient(to top, #ececec, #fff);
  color: black;
  text-align: center;
  flex-direction: column;
}

.recomends-card {
  display: flex;
  padding-top: 80px;
}

.recomends-card .center-card-recomends {
  padding: 0 100px;
}

.card-inside {
  width: 312px;
}

.recomend-text {
  font-size: 35px;
  padding-top: 20px;
}

.img-recomend,
.recomends div p {
  text-align: justify;
  width: 100%;
}

.contact {
  background-image: linear-gradient(to bottom, #f67280, #c0525e);
  color: white;
}

.min-contact {
  width: 100%;
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-contact {
  width: 40%;
}

.text-contact,
.form-contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0 40px;
}

.text-contact p {
  padding: 25px 10px;
}

.contact-text {
  font-size: 62px;
}

.contact-text-2 {
  font-size: 58px;
}

.contact-weight {
  font-weight: 900;
}

.contact-input,
.contact-selected {
  width: 600px;
  border-radius: 20px;
  padding: 20px;
  border: none;
  font-size: 20px;
  margin-bottom: 20px;
}

.contact-selected {
  width: 640px;
}

.form-contact .primary-button {
  background: #343434;
  color: white;
}

.email-phone {
  width: 640px;
  display: flex;
  justify-content: space-between;
}

.email-phone input {
  width: 42%;
}

.footer {
  width: 100%;
  background: white;
  padding: 50px 0;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo div {
  position: absolute;
  height: 50px;
  background: #e2e2e2;
  width: 100%;
}

.footer-logo img {
  z-index: 1;
  height: 120px;
  width: 120px;
  border-radius: 100px;
}

.footer-texts {
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  padding: 40px 0;
}

.title-footer {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 20px;
}

.param-footer {
  font-size: 20px;
  color: black;
}

.sections-footer {
  padding: 0 40px;
}

.social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.social-footer img {
  padding-right: 10px;
  width: 40px;
}

.social-box {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.copy-text {
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.whats-placer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whats-button {
  
  transition: all 200ms ease-in-out;
  box-shadow: 0px 1px 10px 1px black;
  padding: 5px 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #f67280, #c0525e);
  margin-bottom: 40px;
}

.whats-button img {
  width: 70px;
  height: 70px;
  padding-right: 10px;
}

.whats-button p {
  color: white;
  font-size: 28px;
}

.error {
  display: none;
  color: red;
  background: white;
  margin-bottom: 5px;
}

.padding-slide {
  margin-bottom: 100px;
}

.margin-button {
  margin: 50px 0 !important;
}

#margin-0 {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 1500px) {
  .default {
    padding: 50px 0;
  }

  .padding-slide {
    margin-bottom: 50px;
  }

  .primary-text {
    font-size: 55px;
  }

  .second-text {
    font-size: 35px;
  }

  .law-text {
    width: 1100px;
    line-height: 50px;
    margin: 30px 0;
  }

  .primary-button {
    padding: 16px 50px;
    font-size: 35px;
  }

  .rounded-law {
    height: 70px;
  }

  .text-about {
    padding: 0px 60px;
  }

  .text-about p {
    width: 550px;
    padding: 25px 0;
    line-height: 60px;
    font-size: 45px;
  }

  .about-img {
    width: 400px;
  }

  .aboutRec {
    width: 250px;
    height: 250px;
  }

  .aboutRec img {
    width: 60px;
  }

  .aboutRec p {
    font-size: 25px;
    padding-top: 4px;
  }

  .box-faq {
    margin: 70px 0;
  }

  .faq {
    width: 1060px;
  }

  .work p {
    width: 1000px;
    line-height: 60px;
    padding: 16px 0;
  }

  .text-contact p {
    padding: 20px 10px;
  }

  .contact-text {
    font-size: 52px;
  }

  .contact-text-2 {
    font-size: 48px;
  }

  .contact-input,
  .contact-selected {
    width: 450px;
    padding: 16px;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .contact-selected {
    width: 480px;
  }

  .form-contact .primary-button {
    background: #343434;
    color: white;
  }

  .email-phone {
    width: 480px;
    display: flex;
    justify-content: space-between;
  }

  .email-phone input {
    width: 43%;
  }

  .card-inside {
    width: 280px;
  }

  .recomend-text {
    font-size: 28px;
    padding-top: 18px;
  }

  .recomends-card .center-card-recomends {
    padding: 0 60px;
  }
  .margin-button {
    margin: 40px 0 !important;
  }
}

@media screen and (max-width: 1200px) {
  .primary-text {
    font-size: 45px;
  }

  .second-text {
    font-size: 30px;
  }

  .law-text {
    margin: 20px 0;
    width: 80%;
    line-height: 45px;
  }
  .default {
    padding: 40px 0;
  }

  .primary-button {
    padding: 16px 50px;
    font-size: 30px;
  }
  .rounded-law {
    height: 50px;
  }

  .about {
    flex-direction: column;
  }

  .about-img {
    display: none;
  }

  .text-about {
    padding: 0;
  }

  .text-about p {
    width: 80%;
    line-height: 50px;
    padding: 20px 0;
    font-size: 40px;
  }

  .aboutRec {
    width: 180px;
    height: 180px;
  }

  .aboutRec img {
    width: 50px;
  }

  .aboutRec p {
    font-size: 20px;
    padding-top: 4px;
  }

  .box-faq {
    margin: 60px 0;
  }

  .faq {
    margin-bottom: 20px;
    width: 790px;
  }

  .work p {
    width: 780px;
    line-height: 40px;
    padding: 14px 0;
  }

  .text-contact p {
    padding: 15px 10px;
  }

  .contact-text {
    font-size: 40px;
  }

  .contact-text-2 {
    font-size: 38px;
  }

  .text-contact {
    padding-bottom: 40px;
  }

  .text-contact,
  .form-contact {
    width: 100%;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
  }

  .min-contact {
    flex-direction: column;
  }

  .contact-input,
  .contact-selected {
    width: 420px;
    padding: 12px;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .contact-selected {
    width: 450px;
  }

  .form-contact .primary-button {
    background: #343434;
    color: white;
  }

  .email-phone {
    width: 450px;
    display: flex;
    justify-content: space-between;
  }

  .email-phone input {
    width: 42%;
  }

  .max-about {
    display: none;
  }

  .mobile-about {
    display: flex;
  }

  .aboutList {
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none;
    flex-direction: row;
    color: black;
  }

  .card-inside {
    width: 200px;
  }

  .recomend-text {
    font-size: 24px;
    padding-top: 16px;
  }

  .recomends-card .center-card-recomends {
    padding: 0 50px;
  }

  .footer {
    padding: 40px 0;
  }

  .footer-logo img {
    height: 100px;
    width: 100px;
  }

  .footer-texts {
    justify-content: space-around;
    padding: 30px 0;
  }

  .title-footer {
    font-size: 28px;
    padding-bottom: 16px;
  }

  .param-footer {
    font-size: 18px;
  }

  .sections-footer {
    padding: 0 20px;
  }

  .social-footer {
    padding-bottom: 10px;
  }

  .social-footer img {
    padding-right: 10px;
    width: 35px;
  }

  .copy-text {
    font-size: 23px;
  }

  .whats-placer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .whats-button {
    padding: 5px 30px;
    margin-bottom: 30px;
  }

  .whats-button img {
    width: 60px;
    height: 60px;
    padding-right: 10px;
  }

  .whats-button p {
    color: white;
    font-size: 23px;
  }

  .padding-slide {
    margin-bottom: 40px;
  }
  .margin-button {
    margin: 30px 0 !important;
  }
}

@media screen and (max-width: 800px) {
  .primary-text {
    font-size: 35px;
  }

  .second-text {
    font-size: 25px;
  }

  .law-text {
    width: 90%;
    line-height: 35px;
  }
  .default {
    padding: 30px 0;
  }

  .primary-button {
    padding: 12px 40px;
    font-size: 25px;
  }

  .rounded-law {
    height: 40px;
  }

  .text-about p {
    width: 90%;
    line-height: 45px;
    padding: 14px 0;
    font-size: 30px;
  }

  .box-faq {
    margin: 50px 0;
  }

  .faq {
    margin-bottom: 20px;
    width: 580px;
  }

  .text-contact p {
    padding: 10px 5px;
  }

  .contact-text {
    font-size: 32px;
  }

  .contact-text-2 {
    font-size: 28px;
  }

  .text-contact {
    padding-bottom: 20px;
  }

  .work p {
    width: 85%;
    line-height: 40px;
    padding: 12px 0;
  }

  .contact-input,
  .contact-selected {
    width: 500px;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 8px;
  }

  .contact-selected {
    width: 520px;
  }

  .email-phone {
    width: 515px;
  }

  .email-phone input {
    width: 44%;
  }

  .aboutList {
    padding-top: 12px;
    flex-wrap: wrap;
  }

  .aboutRec {
    width: 90%;
    height: 115px;
  }

  .aboutRec img {
    width: 40px;
  }

  .aboutRec p {
    font-size: 16px;
    padding-top: 4px;
  }

  .recomends-card {
    padding-top: 30px;
  }

  .card-inside {
    width: 160px;
  }

  .recomend-text {
    font-size: 18px;
    padding-top: 16px;
  }

  .recomends-card .center-card-recomends {
    padding: 0 30px;
  }

  .footer {
    padding: 30px 0;
  }

  .footer-logo img {
    height: 80px;
    width: 80px;
  }

  .footer-texts {
    justify-content: space-around;
    padding: 20px 0;
  }

  .title-footer {
    font-size: 20px;
    padding-bottom: 16px;
  }

  .param-footer {
    font-size: 14px;
  }

  .sections-footer {
    padding: 0 16px;
  }

  .social-footer {
    padding-bottom: 6px;
  }

  .social-footer img {
    padding-right: 10px;
    width: 20px;
  }

  .social-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .copy-text {
    font-size: 20px;
  }

  .whats-button {
    padding: 5px 20px;
    margin-bottom: 30px;
  }

  .whats-button img {
    width: 30px;
    height: 30px;
    padding-right: 6px;
  }

  .whats-button p {
    font-size: 18px;
  }

  .padding-slide {
    margin-bottom: 30px;
  }
  .margin-button {
    margin: 20px 0 !important;
  }
}

@media screen and (max-width: 600px) {
  .primary-text {
    font-size: 25px;
  }

  .second-text {
    font-size: 20px;
  }

  .law-text {
    width: 90%;
    line-height: 30px;
  }
  .default {
    padding: 20px 0;
  }
  .primary-button {
    padding: 10px 20px;
    font-size: 20px;
  }

  .rounded-law {
    height: 30px;
  }

  .text-about p {
    line-height: 35px;
    padding: 12px 0;
    font-size: 20px;
  }

  .box-faq {
    margin: 40px 0;
  }

  .faq {
    margin-bottom: 10px;
    width: 90%;
  }

  .contact-input,
  .contact-selected {
    width: 90%;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 8px;
  }

  .contact-selected {
    width: 93%;
  }

  .email-phone {
    display: none;
    width: 90%;
    flex-direction: column;
  }

  .email-phone input {
    width: 100%;
  }

  .hidden-input {
    display: block;
  }

  .recomends-card {
    padding-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
  }

  .card-inside {
    width: 140px;
    padding: 18px;
  }

  .recomend-text {
    font-size: 14px;
    padding-top: 12px;
  }

  .recomends-card .center-card-recomends {
    padding: 18px;
  }

  .question img {
    height: 12px;
  }

  .footer {
    padding: 20px 0;
  }

  .footer-logo img {
    height: 60px;
    width: 60px;
  }

  .footer-texts {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 16px 0;
  }

  .title-footer {
    text-align: center;
    font-size: 24px;
    padding-bottom: 12px;
  }

  .param-footer {
    font-size: 16px;
  }

  .sections-footer {
    padding: 12px 0px;
  }

  .social-footer img {
    padding-right: 8px;
    width: 16px;
  }

  .copy-text {
    font-size: 16px;
  }

  .whats-button {
    padding: 2px 10px;
    margin-bottom: 20px;
  }

  .whats-button img {
    width: 20px;
    height: 20px;
    padding-right: 6px;
  }

  .whats-button p {
    font-size: 16px;
  }

  .padding-slide {
    margin-bottom: 20px;
  }

  .margin-button {
    margin: 10px 0 !important;
  }
}

.nav-header ul li:hover {
  transform: scale(1.05);
}
.nav-header ul li a:hover {
  color: #f67280;
}

.nav-header ul li:active {
  box-shadow: box-shadow:
    7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(4px);
}

.nav-title {
  transition: all 200ms ease-in-out;
}

.nav-header ul li:hover {
  transition: all 200ms ease-in-out;
}

.primary-button:hover {
  transform: scale(1.05);
}

.primary-button:active {
  box-shadow: box-shadow:
    7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(4px);
}

.nav-header-mobile ul li:active {
  box-shadow: box-shadow:
    7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(4px);
}

.nav-header-mobile ul li:hover {
  transform: scale(1.05);
}
.nav-header-mobile ul li a:hover {
  color: #f67280;
}

.nav-header-mobile ul li:active {
  box-shadow: box-shadow:
    7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(4px);
}


.nav-header-mobile ul li:hover {
  transition: all 200ms ease-in-out;
}

.whats-button:hover {
  transform: scale(1.05);
}

.whats-button:active {
  box-shadow: box-shadow:
    7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(4px);
}